<% # container for a single doc -%>
<% document_counter = 0 %>
<% @document_list.each { |document| %>
  <div class="document <%= render_document_class document %> document-position-<%= document_counter%> " data-document-counter="<%= document_counter %>" itemscope itemtype="<%= document.itemtype %>">
    <% puts blacklight_config.view_config(document_index_view_type).partials %>
    <% docview = render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
    <%= docview.gsub("/catalog/","/artists/").html_safe %>
  </div>
  <% document_counter += 1 %>
<% } %>