<div id="footer-navbar" class="navbar navbar-inverse navbar-fixed-bottom hidden-xs" role="navigation">
    <div class="<%= container_classes %>">
        <div id="footer-address" class="col-md-4 footer-text">
            <%= link_to image_tag('location_mark_footer.png', id: 'location-mark-footer'), 'https://maps.google.com/maps?ie=UTF-8&q=yale+center+for+british+art&fb=1&gl=us&hq=yale+center+for+british+art&hnear=yale+center+for+british+art&cid=0,0,6682257257316422896&ei=9VPAUfCtOLLF4APQg4CoDw&sqi=2&ved=0CDMQrwswAA', :target => "_blank" %>
            1080 Chapel Street, New Haven, Connecticut<br/>
            Admission is free |
            <%= link_to 'Hours', 'http://britishart.yale.edu/visiting' %> |
            <%= link_to 'Contact us', 'http://britishart.yale.edu/about-us/contact-us' %> |
            <%= link_to 'Terms of use', 'http://britishart.yale.edu/terms' %>
        </div>
        <div id="footer-center" class="col-md-4 footer-text">
            <%= link_to image_tag('yale_logo_footer.png', id: 'yale-logo-footer'), 'http://www.yale.edu/' %>
            <br/>
            <%= link_to 'The Paul Mellon Centre for Studies in British Art', 'http://www.paul-mellon-centre.ac.uk/' %>
        </div>
        <div id="footer-social-media" class="col-md-4 footer-text">
            <%= link_to image_tag('facebook_icon_footer.png'), 'http://goo.gl/IKjwKk' %>
            <%= link_to image_tag('twitter_icon_footer.png'), 'http://goo.gl/JhYDLX' %>
            <%= link_to image_tag('instagram_icon_footer.png'), 'http://goo.gl/DzPnWZ' %>
            <%= link_to image_tag('youtube_icon_footer.png'), 'http://goo.gl/NNR07H' %>
            <a class="addthis_button_expanded at300m" title="Share" href="#" target="_blank">
                <%= image_tag('share_icon_footer.png',  alt:"Share") %>
            </a>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cd0133c424864ef"></script>
        </div>
    </div>
</div>