<!--<header>
<div  class="menu-bar menu-bar--default fixer">
  <div class="menu-bar__sticky-container">
    <div class="menu-bar__outer-constrainer">
      <div class="menu-bar__inner-constrainer">
        <div class="menu-bar__grid-container">
          <div class="menu-bar__wrapper">
            <span class="menu-bar__content">



  <span  class="button button--clean menu-bar__button menu-bar__button--menu  " >



<span id="ycbahomelink" onclick="location.href='https://britishart.yale.edu';"/>

    <span class="button__span"><span style="font-size:18px"><<</span> YCBA Home</span>

  </span>
            </span>




              <a class="logo logo--horizontal menu-bar__logo" href="https://britishart.yale.edu">
                <%#= show_svg('logo-horizontal.svg') %>
              </a>




              <a class="logo logo--vertical menu-bar__logo" href="https://britishart.yale.edu">
                <%#= show_svg('logo-vertical.svg') %>
              </a>




              <span  class="button button--clean menu-bar__button menu-bar__button--search  " >



            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>-->

<header>
  <div id="header-row" class="row fixer">
    <span class="div-horizontal">
      <span class="col-xs-3 home-fonth" style="padding-left:12%;" onclick="location.href='https://britishart.yale.edu';"><< YCBA Home</span>
      <span id="large-banner" class="col-xs-5" style="padding-left:7%;">
        <%= show_svg('logo-horizontal.svg') %>
      </span>
    </span>
    <span class="div-vertical">
      <span class="col-xs-5 vert-wrapper">
        <%= show_svg('logo-vertical.svg') %>
      </span>
      <span class="col-xs-3 home-fontv" onclick="location.href='https://britishart.yale.edu';"><< YCBA Home</span>
    </span>
  </div>
</header>

<div id="search-navbar" class="navbar navbar-default navbar-static-top downer" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</div>