<% if counter = document_counter_with_offset(document_counter) %>
  <span class="document-counter" hidden><%= counter %></span>
  <%#= t('blacklight.search.documents.counter', counter: counter) %>
<% end %>
<dl>
<% if document.to_h["author_ss"]  %>
  <% if document.to_h["loc_naf_author_ss"] && document["recordtype_ss"][0] == "marc"  %>
    <dd class="blacklight-<%= "loc_naf_author_ss".parameterize %>"><%= field_value document, "loc_naf_author_ss" %></dd>
  <% else %>
    <dd class="blacklight-<%= "qualified_author_ss".parameterize %>"><%= field_value document, "qualified_author_ss" %></dd>
  <% end %>
<% end %>
<% if document.to_h["title_short_ss"] %>
  <dd class="middle-label blacklight-<%= "title_short_ss".parameterize %>"><%= field_value(document, "title_short_ss").chomp(":").chomp("/").chomp(".") %></dd>
<% end %>
<% if document.to_h["publishDate_txt"] %>
  <dd class="blacklight-<%= "publishDate_txt".parameterize %>"><%= field_value document, "publishDate_txt" %></dd>
<% end %>
<% if document.to_h["detailed_onview_ss"] %>
  <% if document["detailed_onview_ss"][0] == "On view at the Yale University Art Gallery" %>
    <dd class="blacklight-<%= "detailed_onview_ss".parameterize %>">On view at YUAG</dd>
  <% elsif document["detailed_onview_ss"][0] == "On view" %>
    <dd class="blacklight-<%= "detailed_onview_ss".parameterize %>">On view</dd>
  <% elsif document["detailed_onview_ss"][0] == "Not on view" %>
    <dd class="blacklight-<%= "detailed_onview_ss".parameterize %>">Not on view</dd>
  <% end %>
<% end %>
<% if document.to_h["name_ss"] %>
  <dd class="middle-label blacklight-<%= "name_ss".parameterize %>"><%= field_value(document, "name_ss") %></dd>
<% end %>
<% if document.to_h["tms_birthdate_ss"] && document.to_h["tms_deathdate_ss"] && field_value(document, "tms_birthdate_ss") != "0" && field_value(document, "tms_deathdate_ss") != "0" %>
    <dd class="middle-label blacklight-<%= "lifedates".parameterize %>"><%= field_value(document, "tms_birthdate_ss") %><%= "-" %><%= field_value(document, "tms_deathdate_ss") %></dd>
<% end %>
<% if document.to_h["tms_birthdate_ss"] && document.to_h["tms_deathdate_ss"] && field_value(document, "tms_birthdate_ss") != "0" && field_value(document, "tms_deathdate_ss") == "0" %>
    <dd class="middle-label blacklight-<%= "lifedates".parameterize %>"><%= field_value(document, "tms_birthdate_ss") %><%= "-" %></dd>
<% end %>
<% if document.to_h["tms_birthdate_ss"] && document.to_h["tms_deathdate_ss"] && field_value(document, "tms_birthdate_ss") == "0" && field_value(document, "tms_deathdate_ss") != "0" %>
  <dd class="middle-label blacklight-<%= "lifedates".parameterize %>"><%= "-" %><%= field_value(document, "tms_deathdate_ss") %></dd>
<% end %>
<% if document.to_h["creator_ss"] and document["recordtype_ss"][0] == "archival" %>
    <dd class="middle-label blacklight-<%= "creator_ss".parameterize %>"><%= field_value(document, "creator_ss") %></dd>
<% end %>
<% if document.to_h["title_ss"] and document["recordtype_ss"][0] == "archival" %>
    <dd class="middle-label blacklight-<%= "title_ss".parameterize %>"><%= field_value(document, "title_ss") %></dd>
<% end %>
<% if document.to_h["date_ss"] and document["recordtype_ss"][0] == "archival" %>
    <dd class="middle-label blacklight-<%= "date_ss".parameterize %>"><%= field_value(document, "date_ss") %></dd>
<% end %>
<% if document.to_h["collection_ss"] and document["recordtype_ss"][0] == "archival" %>
    <dd class="middle-label blacklight-<%= "collection_ss".parameterize %>"><%= field_value(document, "collection_ss") %></dd>
<% end %>
</dl>