<% if counter = document_counter_with_offset(document_counter) %>
  <span class="document-counter" hidden><%= counter %></span>
  <%#= t('blacklight.search.documents.counter', counter: counter) %>
<% end %>
<dl>
<% if document.to_h["author_ss"]  %>
  <% if document.to_h["loc_naf_author_ss"] && document["recordtype_ss"][0] == "marc"  %>
    <dd class="blacklight-<%= "loc_naf_author_ss".parameterize %>"><%= field_value document, "loc_naf_author_ss" %></dd>
  <% else %>
    <dd class="blacklight-<%= "author_ss".parameterize %>"><%= field_value document, "author_ss" %></dd>
  <% end %>
<% end %>
<% if document.to_h["title_short_ss"] %>
  <dd class="middle-label blacklight-<%= "title_short_ss".parameterize %>"><%= field_value(document, "title_short_ss").chomp(":").chomp("/").chomp(".") %></dd>
<% end %>
<% if document.to_h["publishDate_txt"] %>
  <dd class="blacklight-<%= "publishDate_txt".parameterize %>"><%= field_value document, "publishDate_txt" %></dd>
<% end %>
<% if document.to_h["detailed_onview_ss"] %>
  <% if document["detailed_onview_ss"][0] == "On view at the Yale University Art Gallery" %>
    <dd class="blacklight-<%= "detailed_onview_ss".parameterize %>">On view at YUAG</dd>
  <% elsif document["detailed_onview_ss"][0] == "Not on view" %>
    <dd class="blacklight-<%= "detailed_onview_ss".parameterize %>">Not on view</dd>
  <% end %>
<% end %>
</dl>