<div id="ycba-downloads" class="btn btn-primary col-xs-3" align="center">
  <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#downloadModal">
    Download Selected Image
  </button>-->
  <%= link_to("Download/Print selected image","#downloadModal", data: {toggle: "modal"}, style: "color: white;" ) %>
</div>
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <% downloads = get_download_array_from_manifest %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download/Print Selected Image</h4>
      </div>
      <div id="download-details" class="modal-body">
        <!--jquery content here-->
        <% if copyrighted?(document) && document["ort_ss"] %>
          <div class="row">
            <div class="col-xs-12"><%= document["ort_ss"][0].to_s %></div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-xs-12">
            <% if document["rights_ss"] && document["rights_ss"][0].to_s == "unknown" %>
              <span>See <a target="_blank" href="http://hdl.handle.net/10079/c59zwbm">Terms of Use for Photographic Images of Works Requiring Further Research</a> for more information.</span>
            <% end %>
            <% if document["rights_ss"] && document["rights_ss"][0].to_s == "public domain" %>
              <span>See <a target="_blank" href="http://hdl.handle.net/10079/w6m90dq">Using Images of Works in the Public Domain</a> for more information.</span>
            <% end %>
            <% if document["rights_ss"] && (document["rights_ss"][0].to_s == "under copyright" || document["rights_ss"][0].to_s == "rights reserved") %>
              <span>See <a target="_blank" href="http://hdl.handle.net/10079/rfj6qd5">Terms of Use for Photographic Images of Works under Copyright</a> for more information.</span>
            <% end %>
          </div>
        </div>
        </br>
        <div class="row">
          <div id="dlselect-container" class="dropdown col-xs-1">
            <button id="selectdl-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Select Image <span class="caret"></span></button>
            <div class="dropdown-menu" aria-labelledby="selectdl-button">
              <% downloads.each_with_index do |array,index| %>
                <li><a class="dropdown-item" onclick="selectdl(<%= downloads[index] %>,'<%= document["id"] %>')"><%= array[0] %>. <%= array[1] %></a></li>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="dlselect-info" class="col-xs-12"></div>
        </div>
        </br>
        <div class="row">
          <div id="jpeg-container" class="col-xs-1">
            <button id="jpeg-dl-button" type="button" class="btn btn-primary btn-sm" disabled>JPEG</button>
          </div>
          <div id="jpeg-dl-info" class="col-xs-11"></div><!--deprecated-->
        </div>
        </br>
        <div class="row">
          <div id="tiff-container" class="col-xs-1">
            <button id="tiff-dl-button" type="button" class="btn btn-primary btn-sm" disabled>TIFF</button>
          </div>
          <div id="tiff-dl-info" class="col-xs-11"></div><!--deprecated-->
        </div>
        </br>
        <div class="row">
          <div id="print-container" class="col-xs-1">
            <button id="print-button" type="button" class="btn btn-primary btn-sm" disabled>Print</button>
          </div>
          <div id="print-info" class="col-xs-11"></div><!--deprecated-->
        </div>
        </br>
        <div class="row">
          <div id="caption-container" style="text-decoration: underline;" class="col-xs-2">
            <!--<button id="caption-dl-button" type="button" class="btn btn-primary btn-sm">Caption</button>-->
            Caption
          </div>
        </div>
        </br>
        <div id="caption-row" class="row">
          <div id="caption-dl-info" class="col-xs-12">
            <% if marc_field?(document) %>
              <%#= get_marc_caption(document) %><!--get from cds caption, not best source-->
              <%= concat_caption(document) %>
            <% else %>
              <%= concat_caption(document) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Submit</button>-->
      </div>
    </div>
  </div>
</div>