<div>
  <!--<p>Enter an item to search, and/or use the facets.</p>-->
  <!--<img id="splash-image" alt="Home Page Image" src="assets/ba-arc-20160328-2003-dsp.jpg"/>-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-34-0007-pub.jpg", id: "splash-image", alt: "Joseph Mallord William Turner, Dort or Dordrecht: The Dort packet-boat from Rotterdam becalmed, 1818"), "/catalog/tms:34" %>
        <div class="carousel-caption">
          <p>Joseph Mallord William Turner, Dort or Dordrecht: The Dort packet-boat from Rotterdam becalmed, 1818</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-1521-0001-pub.jpg", id: "splash-image", alt: "Tessa Pullan, Paul Mellon, 1984, cast 1990"), "/catalog/tms:1521" %>
        <div class="carousel-caption">
          <p>Tessa Pullan, Paul Mellon, 1984, cast 1990</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-1511-0001-pub.jpg", id: "splash-image", alt: "Dame (Jocelyn) Barbara Hepworth, Four Rectangles with Four Oblique Circles, 1966"), "/catalog/tms:1511" %>
        <div class="carousel-caption">
          <p>Dame (Jocelyn) Barbara Hepworth, Four Rectangles with Four Oblique Circles, 1966</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-5057-0004-pub.jpg", id: "splash-image", alt: "Ben Nicholson, May 1955 (Gwithian), 1955"), "/catalog/tms:5057" %>
        <div class="carousel-caption">
          <p>Ben Nicholson, May 1955 (Gwithian), 1955</p>
          <p style="font-size:80%; margin-top: -5px;">© Angela Verren Taunt 2020 / All rights reserved / ARS, NY / DACS, London</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-52309-0001-pub.jpg", id: "splash-image", alt: "Paul Sandby, RA A View of Vinters at Boxley, Kent, with Mr. Whatman's Turkey Paper Mills, 1794"), "/catalog/tms:52309" %>
        <div class="carousel-caption">
          <p>Paul Sandby, RA A View of Vinters at Boxley, Kent, with Mr. Whatman's Turkey Paper Mills, 1794</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-74636-0001-pub.jpg", id: "splash-image", alt: "William Henry Fox Talbot, The Building of Nelson’s Column ca., 1843"), "/catalog/tms:74636" %>
        <div class="carousel-caption">
          <p>William Henry Fox Talbot, The Building of Nelson’s Column ca., 1843</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-orb-9452785-0023-pub.jpg", id: "splash-image", alt: "Helmingham herbal and bestiary, ca. 1500"), "/catalog/orbis:9452785" %>
        <div class="carousel-caption">
          <p>Helmingham herbal and bestiary, ca. 1500</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-10761-0001-pub.jpg", id: "splash-image", alt: "John Frederick Lewis, A Frank Encampment in the Desert of Mount Sinai. 1842 - The Convent of St. Catherine in the Distance, 1856"), "/catalog/tms:10761" %>
        <div class="carousel-caption">
          <p>John Frederick Lewis, A Frank Encampment in the Desert of Mount Sinai. 1842 - The Convent of St. Catherine in the Distance, 1856</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-orb-12590207-0001-pub.jpg", id: "splash-image", alt: "Reeves & Sons, Box of pigments and implements for painting on china, ca. 1880"), "/catalog/orbis:12590207" %>
        <div class="carousel-caption">
          <p>Reeves & Sons, Box of pigments and implements for painting on china, ca. 1880</p>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("splash_images/ba-obj-414-0004-pub.jpg", id: "splash-image", alt: "Samuel Palmer, The Harvest Moon, ca. 1833"), "/catalog/tms:414" %>
        <div class="carousel-caption">
          <p>Samuel Palmer, The Harvest Moon, ca. 1833</p>
        </div>
      </div>
      
    </div>

    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" style="opacity: 1;color: black;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" style="opacity: 1;color: black;"></span>
      <span class="sr-only">Next</span>
    </a>-->
  </div>
</div>