
<%#= render_document_heading(document, :tag => :h2) %>
<%#= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>

<!--<div class="col-xs-12 col-md-4 col-md-push-8">-->

<div id="image-section" >

  <div class="row">
    <div id="mirador3" aria-live="polite"></div>
  </div>

  <div class="row">
    <div id="ycba-downloads-container" align="center">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <!--<div id="print-object" class="btn btn-primary col-xs-3" align="center">
      <%#= link_to("Print Object", "/print/#{@id}/1", style: "color: white;", target: "_blank") %>
    </div>-->
    <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center">
      <%= link_to("Request additional photography", image_request_link(document), style: "color: white;", target: "_blank") %>
    </div>

    <div id="ycba-thumbnail-controls" class="col-xs-2" align="center">
      <a target="_blank" href="https://view.collections.yale.edu/m3/?manifest=https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>">
        <img src='https://manifests.britishart.yale.edu/logo-iiif.png' class='img-responsive' alt='IIIF Manifest' title='View Image in full IIIF viewer' draggable>
      </a>
    </div>
  </div>

  <!--<div class="row">
    <div id="ycba-image-rights" class="col-xs-12" align="center"><%= display_rights(document) %></div>
  </div>-->

</div>


<div id="non-image-section">
  <%= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>
  <div class="row">
    <div id="ycba-request-photography" class="col-xs-12" align="center">
      <%= link_to("Request photography", image_request_link(document), target: "_blank",) %>&nbsp;|&nbsp;
      <%= link_to("Print Object", "/print/#{@id}/1", target: "_blank") %>
    </div>
  </div>
</div>

<% unless manifest? %>
  <script type="text/javascript">
      console.log("no image");
      $("#non-image-section").show();
      $("#image-section").hide();
  </script>
<% else %>
  <script type="text/javascript">
      console.log("image");
      $("#non-image-section").hide();
      $("#image-section").show();
      var manifest = "https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>";
      var mirador = Mirador.viewer({
          "id": "mirador3",
          "selectedTheme": 'light',
          "manifests": {
              manifest: {
                  "provider": "Yale Center for British Art"
              }
          },
          "window": {
              "allowClose": false,
              "allowFullscreen": true,
              "allowMaximize": false
          },
          "windows": [
              {
                  "loadedManifest": manifest,
                  "canvasIndex": 0,
                  "thumbnailNavigationPosition": 'far-bottom',
                  "allowClose": false

              }
          ],
          "workspaceControlPanel": {
            "enabled": false, // Configure if the control panel should be rendered.  Useful if you want to lock the viewer down to only the configured manifests
          },
          "workspace": {
              "showZoomControls": true
          }
      });
  </script>
<% end %>
