<%# default partial to display solr document fields in catalog show view -%>
<!--<div class=" col-xs-12 col-md-8 col-md-pull-4 lido">-->
<div class=" col-xs-12 col-md-12 lido">
  <dl class="dl-vertical dl-invert">
    <% doc_presenter = show_presenter(document) %>
    <% aeon_before="arcCallNumber_ss" %>
    <% document_show_fields(document).each do |field_name, field| -%>
      <% if should_render_show_field? document, field %>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
      <% end -%>
      <% if aeon_before == field_name && doc_presenter.field_value(field).length>0 %>
        <dt class="blacklight-<%= "holdings" %>"><%= "Holdings:" %></dt>
        <dd class="blacklight-<%= "holdings" %>">Accessible by appointment in the Study Room [<%= create_archival_aeon_link(@document) %>]</dd>
      <% end %>
    <% end -%>
    <% unless get_resource_pdf(@document).nil? %>
      <dt class="blacklight-<%= "archival-path" %>"><%= "Collection PDF:" %></dt>
      <dd class="blacklight-<%= "archival-path" %>"><%= get_resource_pdf(@document) %></dd>
    <% end %>
    <dt class="blacklight-<%= "archival-path" %>"><%= "Archival Object:" %></dt>
    <dd class="blacklight-<%= "archival-path" %>"><%= make_link(get_archival_object(@document)) %></dd>
    <dt class="blacklight-<%= "archival-path" %>"><%= "Metadata Cloud URL:" %></dt>
    <dd class="blacklight-<%= "archival-path" %>"><%= make_link(get_archival_metadata(@document)) %></dd>
  </dl>
</div>