
<%#= render_document_heading(document, :tag => :h2) %>
<%#= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>

<!--<div class="col-xs-12 col-md-4 col-md-push-8">-->

<div id="image-section" >

  <div class="row">
    <div id="mirador3" aria-live="polite"></div>
  </div>
  <div class="row">
    <div id="mirador3t" aria-live="polite"></div>
  </div>

  <div class="row">
    <div class="col-xs-1">&nbsp;</div>
    <div id="ycba-downloads-container" align="center">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <!--<div id="print-object" class="btn btn-primary col-xs-3" align="center">
      <%#= link_to("Print Object", "/print/#{@id}/1", style: "color: white;", target: "_blank") %>
    </div>-->
    <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center">
      <%= link_to("Request additional photography", image_request_link(document), style: "color: white;", target: "_blank") %>
    </div>
    <% if document[:eshop_ss] %>
      <div id="eshop" class="btn btn-primary col-xs-3" align="center">
        <%= link_to("Visit museum shop for related items", document[:eshop_ss][0], style: "color: white;", target: "_blank") %>
      </div>
    <% end %>

    <div id="ycba-thumbnail-controls" class="col-xs-1" align="center">
      <a target="_blank" href="https://view.collections.yale.edu/m3/?manifest=https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>">
        <img src='https://manifests.britishart.yale.edu/logo-iiif.png' class='img-responsive' alt='IIIF Manifest' title='View Image in full IIIF viewer' draggable>
      </a>
    </div>
  </div>

  <!--<div class="row">
    <div id="ycba-image-rights" class="col-xs-12" align="center"><%= display_rights(document) %></div>
  </div>-->

</div>


<div id="non-image-section">
  <%= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>
  <div class="row">
    <div id="ycba-request-photography" class="col-xs-12" align="center">
      <%= link_to("Request photography", image_request_link(document), target: "_blank",) %>&nbsp;|&nbsp;
      <%= link_to("Print Object", "/print/#{@id}/1", target: "_blank") %>
      <% if document[:eshop_ss] %>
        <%= link_to("Visit museum shop for related items", document[:eshop_ss][0], target: "_blank") %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'application' %>
<% unless manifest? %>
  <script type="text/javascript">
      console.log("no image");
      $("#non-image-section").show();
      $("#image-section").hide();
  </script>
<% else %>
  <% manifest = "https://manifests.collections.yale.edu/ycba/obj/" + @document['id'].split(":")[1] %>
  <div id = "manifest_es6" data-manifest="<%= manifest %>"></div>
  <% if manifest_thumb? %>
    <div id = "anchor_es6" data-anchor="mirador3t"></div>
  <% else %>
    <div id = "anchor_es6" data-anchor="mirador3"></div>
  <% end %>
  <script type="text/javascript">
      console.log("image");
      $("#non-image-section").hide();
      $("#image-section").show();
  </script>
<% end %>
