
<%#= render_document_heading(document, :tag => :h2) %>
<%#= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>

<!--<div class="col-xs-12 col-md-4 col-md-push-8">-->

<div id="image-section" >

  <div class="row" style="padding-bottom: 10px">
    <% if manifest_thumb? %>
      <% iframe_width = "100%" %>
      <% iframe_height = "55vh" %>
    <% else %>
      <% iframe_width = "100%" %>
      <% iframe_height = "80vh" %>
    <% end %>
    <div class="uv-container" style="position: relative; margin: auto; width:<%= iframe_width %>; height:<%= iframe_height %>;">
      <iframe
        class="universal-viewer-iframe"
        title="Universal Viewer"
        src="<%= request&.base_url %>/uv/uv.html#?config=uv-config-lido.json&manifest=https://manifests.collections.yale.edu/v2/ycba/obj/<%= @document['id'].split(":")[1] %>"
        style="width:<%= iframe_width %>; height:<%= iframe_height %>;"
        allowfullscreen
        frameborder="0">
      </iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">&nbsp;</div>
    <div id="ycba-downloads-container" align="center">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <!--<div id="print-object" class="btn btn-primary col-xs-3" align="center">
      <%#= link_to("Print Object", "/print/#{@id}/1", style: "color: white;", target: "_blank") %>
    </div>-->
    <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center">
      <%= link_to("Request additional photography", image_request_link(document), style: "color: white;", target: "_blank") %>
    </div>

    <div id="ycba-thumbnail-controls" class="col-xs-2" align="center">
      <a target="_blank" href="https://view.collections.yale.edu/uv3/?manifest=https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>">
        <img src='https://manifests.britishart.yale.edu/logo-iiif.png' class='img-responsive' alt='IIIF Manifest' title='View Image in full IIIF viewer' draggable>
        <span>View available images</span>
      </a>
    </div>
  </div>
  <!-- former place of eshop-->
  </div>

  <!--<div class="row">
    <div id="ycba-image-rights" class="col-xs-12" align="center"><%= display_rights(document) %></div>
  </div>-->

</div>


<div id="non-image-section">
  <%= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>
  <div class="row">
    <div id="ycba-request-photography" class="col-xs-12" align="center">
      <%= link_to("Request photography", image_request_link(document), target: "_blank",) %>&nbsp;|&nbsp;
      <%= link_to("Print Object", "/print/#{@id}/1", target: "_blank") %>
      <% if document[:eshop_ss] %>
        <%= link_to("Visit museum shop for related items", document[:eshop_ss][0], target: "_blank") %>
      <% end %>
    </div>
  </div>
</div>

<% unless manifest? %>
  <script type="text/javascript">
      console.log("no image");
      $("#non-image-section").show();
      $("#image-section").hide();
  </script>
<% else %>
  <script type="text/javascript">
      console.log("image");
      $("#non-image-section").hide();
      $("#image-section").show();
  </script>
<% end %>
