<script type="application/ld+json">
<%= jsonld(document) %>
</script>
<%#= render_document_heading(document, :tag => :h2) %>
<%#= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>

<!--<div class="col-xs-12 col-md-4 col-md-push-8">-->
<% if document[:callnumber_ss] && document[:callnumber_ss][0].start_with?("L")  %>
  <div id="loan-header" align="left"><h3>On loan to the Yale Center for British Art</h3></div>
<% end %>
<div id="image-section" >

  <div class="row" style="padding-bottom: 10px">
    <% if manifest_thumb? %>
      <% iframe_width = "100%" %>
      <% iframe_height = "55vh" %>
    <% else %>
      <% iframe_width = "100%" %>
      <% iframe_height = "80vh" %>
    <% end %>
    <div class="uv-container" style="position: relative; margin: auto; width:<%= iframe_width %>; height:<%= iframe_height %>;">
      <iframe
        class="universal-viewer-iframe"
        title="Universal Viewer"
        src="<%= request&.base_url %>/uv/uv.html#?config=uv-config-lido.json&manifest=https://manifests.collections.yale.edu/v2/ycba/obj/<%= @document['id'].split(":")[1] %>"
        style="width:<%= iframe_width %>; height:<%= iframe_height %>;"
        allowfullscreen
        frameborder="0">
      </iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">&nbsp;</div>
    <div id="ycba-downloads-container" align="center">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <!--<div id="print-object" class="btn btn-primary col-xs-3" align="center">
      <%#= link_to("Print Object", "/print/#{@id}/1", style: "color: white;", target: "_blank") %>
    </div>-->
    <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center">
      <%= link_to("Request additional photography", image_request_link(document), style: "color: white;", target: "_blank") %>
    </div>

    <div id="ycba-thumbnail-controls" class="col-xs-2" align="center">
      <a class="iiifpopover" data-placement="bottom" title="Image Interoperability Framework">
        <img src="<%= path_to_image('logo-iiif.png') %>" class='img-responsive' alt='IIIF Actions' title='IIIF Actions' draggable></a>
      <div id="iiifpopover_content_wrapper" style="display: none;">
        <div>IIIF provides researchers rich metadata and media viewing options for comparison of works across cultural heritage collections. Visit the <a target="_blank" href="https://iiif.io">IIIF page</a> to learn more.</div>
        <hr>
        <div><%= link_to("View Manifest",get_manifest_from_document(@document),target: :_blank) %></div>
        <div><a target="_blank" href="https://view.collections.yale.edu/uv3/?manifest=https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>">View in Universal Viewer</a></div>
        <div><a target="_blank" href="https://view.collections.yale.edu/m3/?manifest=https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>">View in Mirador 3</a></div>
        <div>
          <a target="_blank" href="https://view.collections.yale.edu/uv3/?manifest=https://manifests.collections.yale.edu/ycba/obj/<%= @document['id'].split(":")[1] %>">
            <img src="<%= path_to_image('logo-iiif.png') %>" class='img-responsive' alt='IIIF Manifest' title='Drag and Drop' draggable>
          </a>
        </div>
      </div>
    </div>

    <div id="right-icons" class="col-xs-2" align="center">
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("rightsstatements.org/vocab/InC/1.0/") %>
        <a target="_blank" href="https://rightsstatements.org/vocab/InC/1.0/">
          <img width="135px;"src='https://rightsstatements.org/files/buttons/InC.dark-white-interior-blue-type.png' class='img-responsive' alt='In Copyright' title='In Copyright'>
        </a>
      <% end %>
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("creativecommons.org/publicdomain/zero/1.0/") %>
        <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">
          <img width="135px;" src='https://mirrors.creativecommons.org/presskit/buttons/88x31/png/cc-zero.png' class='img-responsive' alt='Public Domain' title='Public Domain'>
        </a>
      <% end %>
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("rightsstatements.org/vocab/UND/1.0/") %>
        <a target="_blank" href="https://rightsstatements.org/vocab/UND/1.0/">
          <img src='https://rightsstatements.org/files/buttons/UND.dark-white-interior-blue-type.png' class='img-responsive' alt='Copyright Undetermined' title='Copyright Undetermined'>
        </a>
      <% end %>
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("https://rightsstatements.org/vocab/NoC-CR/1.0/") %>
        <a target="_blank" href="https://rightsstatements.org/vocab/NoC-CR/1.0/">
          <img src='https://rightsstatements.org/files/buttons/NoC-CR.dark-white-interior-blue-type.png' class='img-responsive' alt='Contractual Restrictions' title='Contractual Restrictions'>
        </a>
      <% end %>
    </div>
  </div>
  <!-- former place of eshop-->
  </div>

  <!--<div class="row">
    <div id="ycba-image-rights" class="col-xs-12" align="center"><%= display_rights(document) %></div>
  </div>-->

</div>


<div id="non-image-section">
  <%= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>
  <div class="row">
    <div id="ycba-request-photography" class="col-xs-12" align="center">
      <%= link_to("Request photography", image_request_link(document), target: "_blank",) %>&nbsp;|&nbsp;
      <%= link_to("Print Object", "/print/#{@id}/1/9999", target: "_blank") %>
      <% if document[:eshop_ss] %>
        <%= link_to("Visit museum shop for related items", document[:eshop_ss][0], target: "_blank") %>
      <% end %>
    </div>
  </div>
</div>

<% unless manifest? %>
  <script type="text/javascript">
      console.log("no image");
      $("#non-image-section").show();
      $("#image-section").hide();
  </script>
<% else %>
  <script type="text/javascript">
      console.log("image");
      $("#non-image-section").hide();
      $("#image-section").show();
  </script>
<% end %>
