
<!-- <%= render_document_heading(document, :tag => :h2) %>-->

<div id="image-section">

  <!-- commented out mirador3 and mirador3t for UV POC -->
<!--  <div class="row">
    <div id="mirador3" aria-live="polite"></div>
  </div>
  <div class="row">
    <div id="mirador3t" aria-live="polite"></div>
  </div>-->
  <!-- see: https://github.com/UniversalViewer/universalviewer/wiki/Embedding#data-config -->
  <div class="row">
    <div class="uv" data-locale="en-GB:English (GB),cy-GB:Cymraeg" data-config="/config.json" data-uri="https://manifests.collections.yale.edu/v2/ycba/orb/13908103" data-collectionindex="0" data-manifestindex="0" data-sequenceindex="0" data-canvasindex="0" data-zoom="-1.0064,0,3.0128,1.3791" data-rotation="0" style="width:50vw; height:30vh; background-color: #000; margin: 0 auto;"></div>
    <script type="text/javascript" id="embedUV" src="http://universalviewer.io/uv/lib/embed.js"></script><script type="text/javascript">/* wordpress fix */</script>
  </div>

  <div class="row">
    <div class="col-xs-2">&nbsp;</div>
    <div id="ycba-downloads-container">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <% if document["collection_ss"][0] == "Rare Books and Manuscripts" %>
      <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center">
        <%= link_to("Request additional photography", image_request_link(document), style: "color: white;", target: "_blank") %>
      </div>
    <% end %>

    <div id="ycba-thumbnail-controls" class="col-xs-2" align="center">
      <a target="_blank" href="https://view.collections.yale.edu/m3/?manifest=https://manifests.collections.yale.edu/ycba/orb/<%= @document['id'].split(":")[1] %>">
        <img src='https://manifests.britishart.yale.edu/logo-iiif.png' class='img-responsive' alt='IIIF Manifest' title='View Image in full IIIF viewer' draggable>
      </a>
    </div>
  </div>

  <!--<div class="row">
    <div id="ycba-image-rights" class="col-xs-12" align="center"><%= display_rights(document) %></div>
  </div>-->

</div>

<div id="non-image-section">
  <%= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>
  <div class="row">
    <div id="ycba-request-photography" class="col-xs-12" align="center">
      <% if document["collection_ss"][0] == "Rare Books and Manuscripts" %>
        <%= link_to("Request photography", image_request_link(document), target: "_blank") %>&nbsp;|&nbsp;
      <% end %>
      <%= link_to("Print Object", "/print/#{@id}/1", target: "_blank") %>
    </div>
  </div>
</div>

<% unless manifest? %>
  <script type="text/javascript">
      console.log("no image");
      $("#non-image-section").show();
      $("#image-section").hide();
  </script>
<% else %>
  <!--For UV POC deprecated by unlinking to dom ID mirador3 and mirador3t by commenting out ID anchors above.-->
  <% mirador3 = "mirador3" %>
  <% mirador3 = "mirador3t" if manifest_thumb? %>
  <script type="text/javascript">
      $("#non-image-section").hide();
      $("#image-section").show();
      var manifest = "https://manifests.collections.yale.edu/ycba/orb/<%= @document['id'].split(":")[1] %>";
      var mirador = Mirador.viewer({
          "id": "<%= mirador3 %>",
          "selectedTheme": 'light',
          "manifests": {
              manifest: {
                  "provider": "Yale Center for British Art"
              }
          },
          "window": {
              "allowClose": false,
              "allowFullscreen": true,
              "allowMaximize": false
          },
          "windows": [
              {
                  "loadedManifest": manifest,
                  "canvasIndex": 0,
                  "thumbnailNavigationPosition": 'far-bottom',
                  "allowClose": false

              }
          ],
          "workspaceControlPanel": {
              "enabled": false, // Configure if the control panel should be rendered.  Useful if you want to lock the viewer down to only the configured manifests
          },
          "workspace": {
              "showZoomControls": true
          }
      });
  </script>
<% end %>


