
<!-- <%= render_document_heading(document, :tag => :h2) %>-->
<%= render_ycba_item_header(document, :tag => :span, :fontsize => "20px") %>

<div id="image-section">

  <div class="row">
    <div id="ycba-main-image" class="col-xs-12" aria-live="polite">
      <% if document['isbn_ss'] %>
          <%= image_tag( "/bookcover/isbn/#{document['isbn_ss'][0]}/size/medium", class: 'img-thumbnail center-block', alt: document['title_txt']) %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div id="ycba-main-image-caption" class="col-xs-12" align="center" aria-live="polite"></div>
  </div>

  <div class="row__outer">
    <div class="imagescroll">
      <div class="row__inner" id="ycba-thumbnail-row-inner"></div>
    </div>
  </div>

  <div class="row">
    <div id="ycba-downloads-container">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <div id="print-object" class="btn btn-primary col-xs-3" align="center">
      <%= link_to("Print Object", "/print/#{@id}/1", style: "color: white;", target: "_blank") %>
    </div>
    <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center">
      <%= link_to("Request additional photography", image_request_link(document), style: "color: white;", target: "_blank") %>
    </div>

    <div id="ycba-thumbnail-controls" class="col-xs-2" align="center"></div>
  </div>

  <!--<div class="row">
    <div id="ycba-image-rights" class="col-xs-12" align="center"><%= display_rights(document) %></div>
  </div>-->

</div>

<div id="non-image-section">
  <div class="row">
    <div id="ycba-request-photography" class="col-xs-12" align="center">
      <% if document["collection_ss"][0] != "Reference Library" %>
        <%= link_to("Request photography", image_request_link(document), target: "_blank") %>&nbsp;|&nbsp;
      <% end %>
      <%= link_to("Print Object", "/print/#{@id}/1", target: "_blank") %>
    </div>
  </div>
</div>

<script language="Javascript">updateImageData(<%= @document.cds_url %>,"<%= cds_info_url(@document.cds_url, 1) %>","marc");</script>
<script language="Javascript">
    //cdsData("<%= cds_info_url(@document.cds_url, 1) %>");
</script>


