<%# default partial to display solr document fields in catalog show view -%>
<!--<div class=" col-xs-12 col-md-8 col-md-pull-4 lido">-->
<div class=" col-xs-12 col-md-12 lido">
  <dl class="dl-vertical dl-invert">
    <% doc_presenter = show_presenter(document) %>
    <% document_show_fields(document).each do |field_name, field| -%>
      <% if should_render_show_field? document, field %>
        <% next if "citation_txt" == field_name %>
        <% next if "exhibition_history_ss" == field_name %>
        <% next if "curatorial_comment_ss" == field_name %>
        <% if "callnumber_ss" == field_name  %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><span title="Object ID: <%= document["id"].gsub("tms:","") %>"><%= doc_presenter.field_value field %></span></dd>
        <% elsif "collection_ss" == field_name %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
          <% gfl = get_frame_link(document) %>
          <% if gfl != "" %>
            <dt class="blacklight-<%= "framelink".parameterize %>"><%= get_frame_link_label(document) %></dt>
            <dd class="blacklight-<%= "framelink".parameterize %>"><%= gfl %></dd>
          <% end %>
        <% else %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
        <% end %>
      <% end -%>
    <% end -%>
    <%= render "show_fields" %>
  </dl>
</div>
<nav id="itemTab1" class="container">
  <ul class="nav nav-tabs">
    <% tab_active = true %>

    <% if tab_active %>
      <% if document_field_exists?(document,"curatorial_comment_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#1pane" data-toggle="tab">Curatorial</br>Comments</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"curatorial_comment_ss") %>
        <li class="nav-item"><a class="nav-link" href="#1pane" data-toggle="tab">Curatorial</br>Comments</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"curatorial_description_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#2pane" data-toggle="tab">Curatorial</br>Descriptions</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"curatorial_description_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#2pane" data-toggle="tab">Curatorial</br>Descriptions</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"gallery_label_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#3pane" data-toggle="tab">Gallery</br>Labels</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"gallery_label_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#3pane" data-toggle="tab">Gallery</br>Labels</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"pub_cat_entry_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#4pane" data-toggle="tab">Published</br>Catalog Entries</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"pub_cat_entry_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#4pane" data-toggle="tab">Published</br>Catalog Entries</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"work_excerpt_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#5pane" data-toggle="tab">Excerpts from</br>this Work</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"work_excerpt_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#5pane" data-toggle="tab">Excerpts from</br>this Work</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"artists_statement_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#6pane" data-toggle="tab">Artist's</br>Statement</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"artists_statement_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#6pane" data-toggle="tab">Artist's</br>Statement</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"provenance_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#7pane" data-toggle="tab">Provenance</br>&nbsp</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"provenance_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#7pane" data-toggle="tab">Provenance</br>&nbsp</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"exhibition_history_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#8pane" data-toggle="tab">Exhibition</br>History</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"exhibition_history_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#8pane" data-toggle="tab">Exhibition</br>History</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"linked_citation_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#9pane" data-toggle="tab">Bibliography</br>&nbsp</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"linked_citation_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#9pane" data-toggle="tab">Bibliography</br>&nbsp</a></li>
      <% end %>
    <% end %>

  </ul>
</nav>
</br>
<div class="tab-content clearfix">
  <% tab_active = true %>
  <% if document_field_exists?(document,"curatorial_comment_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="1pane">
      <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="1pane">
    <% end %>
    <% combine_curatorial_comments_tab(document).each_with_index do |field, i| %>
      <% if i > 0 %></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"curatorial_description_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="2pane">
      <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="2pane">
    <% end %>
    <% document["curatorial_description_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"gallery_label_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="3pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="3pane">
    <% end %>
    <% document["gallery_label_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"pub_cat_entry_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="4pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="4pane">
    <% end %>
    <% document["pub_cat_entry_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"work_excerpt_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="5pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="5pane">
    <% end %>
    <% document["work_excerpt_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"artists_statement_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="6pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="6pane">
    <% end %>
    <% document["artists_statement_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"provenance_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="7pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="7pane">
    <% end %>
    <% document["provenance_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"exhibition_history_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="8pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="8pane">
    <% end %>
    <%= render_exhibitions_tab(document) %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"linked_citation_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="9pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="9pane">
    <% end %>
    <%= render_lido_citation_presorted_tab(document) %>
    </div>
  <% end %>

</end>
</br>
<div id="ycba-object-contact-us">
  If you have information about this object that may be of assistance please <a href="mailto:ycba.online@yale.edu?subject=<%= information_link_subject(document) %>">contact us</a>.
</div>
  <% if document[:eshop_ss] %>
    </br>
    <div class="row col-xs-offset-4">
      <div id="eshop" class="btn btn-primary col-xs-5" align="center">
        <%= link_to("Visit our Museum Shop for related items", document[:eshop_ss][0], style: "color: white;", target: "_blank") %>
      </div>
    </div>
  <% end %>
<br/>
