<h1>Record Citations</h1>
<div style="text-align: left;">
  <b>APA Citation</b>
  <p style="width: 95%; padding-left: 25px; text-indent: -25px;">
    <%= @apa["authors"] %>
    <%= @apa["year"] %>
    <span style="font-style:italic;">
      <%= @apa["title"] %>
    </span>
    <%= @apa["edition"] %>
    <%= @apa["publisher"] %>
    </p>
    <b>MLA Citation</b>
  <p style="width: 95%; padding-left: 25px; text-indent: -25px;">
    <%= @mla["authors"] %>
    <span style="font-style:italic;">
      <%= @mla["title"] %>
    </span>
    <%= @mla["edition"] %>
    <%= @mla["publisher"] %>
    <%= @mla["year"] %>
  </p>
</div>
<div style="font-size: 75%;">Warning: These citations may not always be 100% accurate.</div>